/node_modules/
.jshintrc
.eslintrc
/.vscode/
/plugins/
/.firebase/

package-lock.json
read_me.txt

# production
/build/

# if outside src
/css/
/fonts/
/images/
/drafts/

# for server imitation
server.php

settings.json
