@font-face {
    font-family: Marvin;
    src: url("fonts/Marvin.woff");
}

body {
        margin: 0;
        padding: 0;
        font-family: 'Marvin', Arial, Helvetica, sans-serif;
        color:#0d233d;
        background: #2465bd;
}

header {
    display: flex;
    height: 50px;
    justify-content: center;
    flex-direction: column;
    max-width: 1100px;
    padding-top: 20px;
    margin: 0 auto 20px;
}

.target-header {
    display: block;
    margin: 20px auto 20px;
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
}

.game {
    max-width: 1100px;
    display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0 auto
}
.game-field {
    /* width: 400px; */
    /* height: 600px; */
    display: block;
    background-color: #0d233d;
    margin: 50px auto;
    padding: 5px;
    border: 4px solid #73befb;
    border-radius: 20px;
}

.field-wrap {
    /* width: 400px; */
    /* height: 600px; */
    position: relative;
    display: flex;
    flex-direction: row;
}

.blocked {
    pointer-events: none;
}

.field-column {
    display: flex;
    position: relative;
    flex-direction: column;
}

.field-cell {
    width: 40px;
    height: 45px;
    padding: 1px;
    box-sizing: border-box;
}
.title-img {
    height: 100%;
    width: 100%;
    transition: 1s;
    /* opacity: 1; */
    /* visibility: visible; */
    /* animation: show 1s forwards; */
}
@keyframes show {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.blasted {
    visibility: hidden;
    opacity: 0;
    transition: 1s;
    /* animation: blast 1s forwards; */
}
/* @keyframes blast {
    0% {opacity: 1;}
    100% {opacity: 0;}
} */

.game-control {
    display: flex;
    width: 40%;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
}
#start {
    height: 60px;
    width: 100px;
    margin-top: 20px;
    display: block;
    border-radius: 10px;
    font-size: 24px;
    font-family: 'Marvin', Arial, Helvetica, sans-serif;
    color:#73befb;
    background-color: #c346ac;
}

.user-input {
    margin-bottom: 20px;
}

.user-input > input, .scoring, .shot-count {
    font-weight: 400;
    text-align: center;
    font-family: 'Marvin', Arial, Helvetica, sans-serif;
    color:#73befb;
    border: none;
    padding: 5px;
}
/* .shot-count {
    background: transparent;
    width: 30px;
    color:#0d233d;
    font-size: 24px;

} */
.user-input > input {
    width: 50px;
    height: 30px;
    font-size: 20px;
    border-radius: 5px;
    background: #0e3467;
}
.scoring {
    width: 87px;
    height: 40;
    padding: 5px;
    font-size: 2em;
    border-radius: 10px;
    background: #c346ac;
}

.title-scoring {
    font-size: 24px;
    color:#73befb;
    line-height: 24px;
}


.result {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.result-field {
    display: block;
    width: 100%;
    margin-top: 10px;
}

#progress-scoring {
    display: block;
    margin: 0 auto;
}

.setting {
    width: 30px;
    height: 30px;
    font-size: 20px;
    text-align: center;
}
/*  валидация инпутов */
/* input[type="number"]:invalid+span:after {
	content: '✖';
	padding-left: 5px;
	color: red;
}

input[type="number"]:valid+span:after {
	content: '✓';
	padding-left: 5px;
	color: green;
} */
/*  отключение стрелок в инпутах */
input[type="number"] {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	display: none;
}

@media (max-width: 768px) {
    body, .game {
        flex-direction: column;
    }
    .target-header  {
        font-size: 20px;
    }
    .game-field {
        width: 100%;
        margin-bottom: 10px;
        margin-top: 30px;
    }
    .game-control {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .field-setting, .result {
        display:block;
        margin-left: 20%;
    }

}
/* #progress-bar {
    height: 50px;
    background-color: #59bed6;

} */
progress {
    border: 0;
    width: 200px;
    height: 20px;
    border-radius: 10px;
    background: #73befb;
    margin-top: 10px;
    display:block
}
progress::-webkit-progress-bar {
width: 200px;
height: 20px;
border-radius: 10px;
background:#73befb;
}
progress::-webkit-progress-value {
border-radius: 10px;
background: #89ef00;
}
progress::-moz-progress-bar {
border-radius: 10px;
background: #89ef00;
}
.winner {
    color:#89ef00;
}
.looser {
    color: #ff004c;
}
