body {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
}

.game-field {
    /* width: 400px; */
    /* height: 600px; */
    display: block;
    background-color: #0d233d;
    margin: 20px auto;
    padding: 5px;
    border: 4px solid #59bed6;
    border-radius: 20px;
    /* overflow: hidden; */
}
.field-wrap {
    /* width: 400px; */
    /* height: 600px; */
    position: relative;
    display: flex;
    flex-direction: row;
}

.field-column {
    display: flex;
    position: relative;
    flex-direction: column;
}

.field-cell {
    width: 40px;
    height: 45px;
    padding: 1px;
    box-sizing: border-box;
}
.title-img {
    height: 100%;
    width: 100%;
    /* transition: 3s; */
    /* opacity: 1; */
    /* visibility: visible; */
    animation: show 1s forwards;
}
@keyframes show {
    0% {opacity: 0;}
    100% {opacity: 1;}
}



.blasted {
    /* visibility: hidden; */
    /* opacity: 0; */
    /* transition: 1s; */
    animation: blast 1s forwards;
}
@keyframes blast {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.game-control {
    display: flex;
    width: 50%;
    flex-direction: column;
}
#start {
    height: 60px;
    width: 60px;
    margin-top: 20px;
}

.result {
    margin-top: 20px;
}
.result > span {
    /* display: block; */
}
.scoring {
    width: 50px;
    height: 30px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.setting {
    width: 30px;
    height: 30px;
    font-size: 20px;
    text-align: center;
}
/*  валидация инпутов */
input[type="number"]:invalid+span:after {
	content: '✖';
	padding-left: 5px;
	color: red;
}

input[type="number"]:valid+span:after {
	content: '✓';
	padding-left: 5px;
	color: green;
}
/*  отключение стрелок в инпутах */
input[type="number"] {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	display: none;
}
