body {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
}

.game-field {
    /* width: 400px; */
    /* height: 600px; */
    display: block;
    background-color: #0d233d;
    margin: 20px auto;
    padding: 5px;
    border: 4px solid #59bed6;
    border-radius: 20px;
    /* overflow: hidden; */
}
.field-wrap {
    /* width: 400px; */
    /* height: 600px; */
    position: relative;
    display: flex;
    flex-direction: row;
}

.field-column {
    display: flex;
    position: relative;
    flex-direction: column;
}

.field-cell {
    width: 40px;
    height: 45px;
    padding: 1px;
    box-sizing: border-box;
}
.field-cell > img {
    height: 100%;
    width: 100%;
}

.game-control {
    display: flex;
    width: 50%;
}
.game-control > button {
    height: 60px;
    width: 60px;
    margin-top: 200px;
}

